<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>alerte rouge</title>
    <!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    -->
    <link rel="stylesheet" href="{{url_for('static', filename='vendor/bootstrap.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/cover.css')}}"/>
</head>

<body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="inner cover">

            <header>      
              <h1 class="cover-heading">Remind me</h1>
            </header>   

            <section>
              <div id="form-div"></div>
            </section>

            <section>
              <div id='msg-div'>
            </section>
            
          </div>
          <div class="mastfoot">
            <div class="inner">
            
              <footer>
                <p>using <a href="http://flask.pocoo.org/">Flask</a>, <a href="http://backbonejs.org/">Backbone</a>, <a href="http://getbootstrap.com/">Bootstrap</a> and more, by <a href="https://github.com/emilecaron">Zozor</a>.</p>
              </footer>
            
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{{url_for('static', filename='vendor/underscore.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/jquery-1.11.2.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/backbone.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/bootstrap.js')}}"></script>
    <script src="{{url_for('static', filename='javascripts/bundle.js')}}"></script>
</body>
</html>


<!-- Templates -->
<script type="text/template" id="form-template">
<div class="view">
<form role="form" action="javascript:void(0);" class="lead">
  <div class="form-group">
    <input type="date" class="form-control" id="date" required autofocus value="<%- date %>"></input>
    <input type="email" class="form-control" id="email" placeholder="email..." required value="<%- email %>" ></input>
    <button type="submit" class="btn btn-default">Remind me</button>
  </div>
</form>
</div>
</script>

<script type="text/template" id="msg-template">
<div class="view">
    <div class="alert alert-<%- type %>" class='lead' role="alert" id="alert">
      <button type="button" class="close">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
      <div id="alert-msg">
        <strong><%- title %></strong> <%- msg %>
      </div>
    </div>
</div>
</script>
